{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Algorithms Project</title>
    <meta name="description" content="">
  <!--  <link rel="stylesheet" href="{% static 'main.css' %}"> -->
  </head>

  <body style="font-weight:200;">

    <nav class="navbar navbar-default" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">Algorithms</a>
              </div><!-- navbar-header -->
              <div class="collapse navbar-collapse" id="collapse">
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="/">Home</a></li>
                      <li><a href="/shortestPath/main">Game</a></li>
                      <li><a href="/HowTo">Dijkstra's Algorithm</a></li>
                  </ul>
              </div><!-- collapse navbar-collapse -->
          </div><!-- container -->
      </nav>

    {% block content %}
    {% endblock %}

    <!--<script src ="{% static 'main.js' %}"></script>-->
    <footer class=footer><div class=container><p>Copyright © Becky Lytle 2016</p></div></footer>

    <script src="{% static "jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

  </body>

  </html>
