{% extends "alg/base.html" %}

{% block content %}

<div class=container>
<div class = jumbotron>
<h1>Welcome to my mini algorithm visualization project!</h1>

<h3>During thanksgiving break 2k16, I wanted to make a lil something that would reflect my new knowledge of various
  algorithms (thanks <a href="https://www.haverford.edu/computer-science">CS 340</a>!) paired with my past knowledge of D3.js.
</h3>

  <p>
I thought I'd whip up a <a href=/Game>~game~</a> in which a random, connected graph is generated.  Then, the user has to pick the shortest
path in this graph between two designated nodes.  On the back end, I coded Dijkstra's algorithm so the user would be able to see if the path they chose was truly
the shortest.  </p>
  </p>

</div>

</div>


{% endblock %}
